html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.calculator{
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.sum p{
    color:white;
    text-align: right;
    font-family: Helvetica;
    font-size: 45px;
    font-weight:100;
    margin: 20px 30px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
button{
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 50%;
    outline: none;
    font-size: 25px;
}
.top_grey {
    background-color: rgb(196, 196, 196);
    color:black;
}
.top_grey:active {
    background-color: aliceblue;
}
.numbers{
    background-color: rgb(66, 66, 66);
    color: white;
}
.numbers:active {
    background-color: rgba(197, 197, 197, 0.644);
}
.operators{
    background-color: orange;
    color:white;
}
.operators:active{
background-color: rgb(255, 201, 100);
}
.zero{
    grid-column: span 2;
    width: 100%;
    border-radius: 50px;
    text-align: left;
    padding-left: 22px;
    background-color: rgb(66, 66, 66);
    color: white;
}
.zero:active{
    background-color: rgba(197, 197, 197, 0.644);
}